# Mail
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USE_SSL=False
MAIL_USERNAME=estagioifcvideira@gmail.com
MAIL_PASSWORD="xxxx xxxx xxxx xxxx"
MAIL_DEFAULT_SENDER=estagioifcvideira@gmail.com

# Security
SECURITY_REGISTERABLE=True
SECURITY_CONFIRMABLE=True
SECURITY_RECOVERABLE=True
SECURITY_TRACKABLE=True
SECURITY_PASSWORD_SALT="ifcvideira-salt"
SECURITY_FLASH_MESSAGES=True

# Secret key
SECRET_KEY=sjtvTwkC5cIjRxb4KcBArWrXfPnoDgsrW1I5rpPmt69

# Application metadata
APP_VERSION=0.1.0
APP_ENV=development

# Database configuration
POSTGRES_USER=postgresestagio
POSTGRES_PASSWORD="ifcvideira"
POSTGRES_DB=estagio

# SQLAlchemy configuration
SQLALCHEMY_DATABASE_URI=postgresql://postgresestagio:ifcvideira@estagios-dev-db/estagio
SQLALCHEMY_TRACK_MODIFICATIONS=False

# Gunicorn
GUNICORN_WORKERS=2
GUNICORN_THREADS=2
GUNICORN_TIMEOUT=60